<ul class="sidebar-menu">
    <li class="active">
        <a href="#">
            <span class="fl fa fa-home fa-2x"></span>
            <span class="fl title">hhhhhhhhhhhhh</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="fl fa fa-calendar fa-2x"></span>
            <span class="fl title">hhhhhhhhhhhhh</span>
            <span class="arrow fa fa-angle-double-left fa-fw"></span>
        </a>
        <ul class="submenu">
             <li> <a href="#">dddddddddddd</a></li>
             <li> <a href="#">eeeeeeeeeeee</a></li>
             <li> <a href="#">ffffffffffff</a></li>
             <li> <a href="#">gggggggggggg</a></li>
             <li> <a href="#">tttttttttttt</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span class="fl fa fa-cogs fa-2x"></span>
            <span class="fl title">hhhhhhhhhhhhh</span>
            <span class="arrow fa fa-angle-double-left fa-fw"></span>
        </a>
        <ul class="submenu">
             <li> <a href="#">dddddddddddd</a></li>
             <li> <a href="#">eeeeeeeeeeee</a></li>
             <li> <a href="#">ffffffffffff</a></li>
             <li> <a href="#">gggggggggggg</a></li>
             <li> <a href="#">tttttttttttt</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span class="fl fa fa-image fa-2x"></span>
            <span class="fl title">hhhhhhhhhhhhh</span>
            <span class="arrow fa fa-angle-double-left fa-fw"></span>
        </a>
        <ul class="submenu">
             <li> <a href="#">dddddddddddd</a></li>
             <li> <a href="#">eeeeeeeeeeee</a></li>
             <li> <a href="#">ffffffffffff</a></li>
             <li> <a href="#">gggggggggggg</a></li>
             <li> <a href="#">tttttttttttt</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span class="fl fa fa-desktop fa-2x"></span>
            <span class="fl title">hhhhhhhhhhhhh</span>
            <span class="arrow fa fa-angle-double-left fa-fw"></span>
        </a>
        <ul class="submenu">
             <li> <a href="#">dddddddddddd</a></li>
             <li> <a href="#">eeeeeeeeeeee</a></li>
             <li> <a href="#">ffffffffffff</a></li>
             <li> <a href="#">gggggggggggg</a></li>
             <li> <a href="#">tttttttttttt</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span class="fl fa fa-file fa-2x"></span>
            <span class="fl title">hhhhhhhhhhhhh</span>
            <span class="arrow fa fa-angle-double-left fa-fw"></span>
        </a>
        <ul class="submenu">
             <li> <a href="#">dddddddddddd</a></li>
             <li> <a href="#">eeeeeeeeeeee</a></li>
             <li> <a href="#">ffffffffffff</a></li>
             <li> <a href="#">gggggggggggg</a></li>
             <li> <a href="#">tttttttttttt</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span class="fl fa fa-navicon fa-2x"></span>
            <span class="fl title">hhhhhhhhhhhhh</span>
            <span class="arrow fa fa-angle-double-left fa-fw"></span>
        </a>
        <ul class="submenu">
             <li> <a href="#">dddddddddddd</a></li>
             <li> <a href="#">eeeeeeeeeeee</a></li>
             <li> <a href="#">ffffffffffff</a></li>
             <li> <a href="#">gggggggggggg</a></li>
             <li> <a href="#">tttttttttttt</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span class="fl fa fa-bell fa-2x"></span>
            <span class="fl title">hhhhhhhhhhhhh</span>
            <span class="arrow fa fa-angle-double-left fa-fw"></span>
        </a>
        <ul class="submenu">
             <li> <a href="#">dddddddddddd</a></li>
             <li> <a href="#">eeeeeeeeeeee</a></li>
             <li> <a href="#">ffffffffffff</a></li>
             <li> <a href="#">gggggggggggg</a></li>
             <li> <a href="#">tttttttttttt</a></li>
        </ul>
    </li>
    <li>
     <div class="tgdash">
     <span class="dashed"></span>
            <span class="tg fa fa-chevron-circle-left fa-fw"></span>
          </div>

    </li>
</ul>
